<div data-role="page" data-url="<%= Rho::RhoConfig.start_path %>/" class="bg_image">

<div data-role="content" style="background:none;min-height:100%">
<div class="ui-grid-c countries" align="center">
<div class="ui-block-a"><a class="smallother" href="/app/Icon/index/1" data-theme="i" data-role="button">CA</a></div>
<div class="ui-block-b"><a class="smallother" href="/app/Icon/index/2" data-theme="i" data-role="button">US</a></div>
<div class="ui-block-c"><a class="small" href="/app/Icon/index/13" data-theme="i" data-role="button">LATIN AMERICA</a></div>
<div class="ui-block-d"><a class="smallother" href="<%= url_for :controller =>:Region, :action => :index %>" data-theme="i" data-role="button">EMEA</a></div>
</div>
</div>
</div>
