<div data-role="page">

  <div data-role="header" data-position="inline">
    <%= link_to "Back", :action => :index %>
    <h1>New Event</h1>
  </div>

  <div data-role="content">
    <form method="POST" action="<%= url_for :action => :create %>">
      <input type="hidden" name="id" value="<%= @event.object %>"/>
      <table>
          
            <tr>
                <td class="itemLabel">Filename: </td>
                <td class="itemValue"><input type="text" name="event[filename]"/></td>
            </tr>
          
            <tr>
                <td class="itemLabel">Logo: </td>
                <td class="itemValue"><input type="text" name="event[logo]"/></td>
            </tr>
          
            <tr>
                <td class="itemLabel">Name: </td>
                <td class="itemValue"><input type="text" name="event[name]"/></td>
            </tr>
          
      </table>
      <input type="submit" value="Create"/>
    </form>
  </div>

</div>
